.center {
  width: 1200px;
}

.header {
  display: block;
  margin-left: 100px;
  // text-align: center;
}

body {
  display: block;
}

.form-control {
  display: block;
  width: 600px;
  height: 30px;
}

.flex {
  display: flex;
}

.list {
  display: block;
  margin-right: 20px;
}
